<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--  <span>HOME</span> -->
       <span><a  mat-button  routerLink="/">HOME</a></span>
       <span class="spacer"></span>
       <a  mat-button  routerLink="/register">Register</a>
       <a  mat-button  routerLink="/login">Login</a>
    </mat-toolbar-row>
    
 </mat-toolbar>
 <mat-card class="example-card">
   <mat-card-header>
     <mat-card-title>Login</mat-card-title>
   </mat-card-header>
   <mat-card-content>
     <form class="example-form">
       <table class="example-full-width" cellspacing="0">
         <tr>
           <td>
             <mat-form-field class="example-full-width">
             <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
             </mat-form-field>
           </td>
         </tr>
         <tr>
         <td><mat-form-field class="example-full-width">
           <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
         </mat-form-field></td>
       </tr></table>
     </form>
    
   </mat-card-content>
   <mat-card-actions>
     <button mat-raised-button (click)="login()" color="primary">Login</button>
     If you are a new customer please Click <a  mat-button  routerLink="/register">OpenNewAccount</a>
   </mat-card-actions>
 </mat-card>
 
 <router-outlet></router-outlet>