
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
    <span><a  mat-button  routerLink="/">HOME</a></span>
     <span class="spacer"></span>
     <a  mat-button  routerLink="/login">Logout</a>
  </mat-toolbar-row>
  </mat-toolbar>
  <br><br>
<table>
  <tr>
   <td>
<div *ngIf="accounts" class="products">
    <h2>Accoumt Number {{accounts.account_no | uppercase}} Details</h2>
    <div><span>Description: your account uuid </span>{{accounts._id}}</div>
    <div><span>Account Balance : </span>{{accounts.balance}}</div>
    <div><span>Last login Date: </span>{{accounts.date_of_opening}}</div>
  </div> 
    </td>
  </tr>
</table>
<br>
<table>
<tr> 
  <td> 
    <div>    <!--  <button (click)="deposit(accounts._id)"> -->
        <button routerLink="/deposit/{{accounts.name}}">
          Deposit Money
        </button>
      </div>
    </td>
    <td>
      <div>
        <!--  <button (click)="deposit(accounts._id)"> -->
          <button routerLink="/withdraw/{{accounts.name}}">
            Withdraw Money
          </button>
        </div>
  
</td>  <td>
  <div>
    <!--  <button (click)="deposit(accounts._id)"> -->
      <button (click)="deleteAccount(accounts._id)" color="primary">
        CloseAccount
      </button>
    </div>

</td>

</tr>
</table>
